<aside 
class="h-screen w-64 bg-green-900 text-white p-5">


<h2 class="text-xl font-bold mb-8">
   Menu
</h2>


<ul class="space-y-3">


<li>
<a 
routerLink="/dashboard"
class="block p-3 rounded-lg hover:bg-green-700">

 Dashboard

</a>
</li>


<li>
<a 
routerLink="/farmers"
class="block p-3 rounded-lg hover:bg-green-700">

 Farmers

</a>
</li>


<li>
<a 
routerLink="/products"
class="block p-3 rounded-lg hover:bg-green-700">

 Products

</a>
</li>


<li>
<a 
routerLink="/orders"
class="block p-3 rounded-lg hover:bg-green-700">

Orders

</a>
</li>


<li>
<a 
routerLink="/profile"
class="block p-3 rounded-lg hover:bg-green-700">

 Profile

</a>
</li>


</ul>


</aside>